<template>
    <el-row :gutter="20">
        <el-col :span="20" :offset="2">
            <el-tabs type="border-card">
                <el-tab-pane label="最新影片">
                  <el-row>
                    <el-col :span="6" :xs="24" v-for="(o, index) in videos" :key="index">
                      <el-card :body-style="{ padding: '10px' }">
                        <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png" class="image">
                        <div style="padding: 14px;">
                          <span>{{o.title}}</span>
                          <el-rate
                            v-model="o.score"
                            disabled
                            show-score
                            text-color="#ff9900"
                            score-template=5>
                          </el-rate>
                          <div class="bottom clearfix">
                            <time class="time">{{ currentDate }}</time>
                            <el-button type="text" class="button">觀看影片</el-button>
                          </div>
                        </div>
                      </el-card>
                    </el-col>
                  </el-row>
                  <el-pagination
                      background
                      layout="prev, pager, next"
                      :total="totalSize">
                    </el-pagination>
                </el-tab-pane>
                <el-tab-pane label="人氣最旺">
                  人氣最旺
                </el-tab-pane>
        </el-tabs>
        </el-col>
    </el-row>
</template>
<script>
export default {
  data () {
    return {
      videos: [],
      totalSize: 22
    }
  },
  mounted () {
    this.videos = [
      {
        title: '影片1',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片2',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片3',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片4',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片5',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片6',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片7',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片8',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片9',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片10',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片11',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片12',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片13',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片14',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片15',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片16',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片17',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片18',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片19',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片20',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片21',
        link: '123',
        preImg: '',
        score: '5'
      },
      {
        title: '影片22',
        link: '123',
        preImg: '',
        score: '5'
      }
    ]
  },
  methods: {
  }
}
</script>
<style>
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  .el-card {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }

</style>
