<template>
    <el-row :gutter="20">
        <el-col :span="20" :offset="2">
            <el-tabs type="border-card">
                <el-tab-pane label="標籤篩選">
                    <el-checkbox
                        :indeterminate="isIndeterminate"
                        v-model="checkAll"
                        @change="handleCheckAllChange"
                        >全選
                        </el-checkbox>
                        <div style="margin: 15px 0;"></div>
                        <el-checkbox-group
                            v-model="checkedCities"
                            @change="handleCheckedCitiesChange"
                        >
                            <el-checkbox
                                v-for="city in cities"
                                :label="city"
                                :key="city">
                                {{city}}
                            </el-checkbox>
                        </el-checkbox-group>
                </el-tab-pane>
        </el-tabs>
        </el-col>
    </el-row>
</template>
<script>
const cityOptions = ['熱血', '冒險', '魔幻', '神鬼', '搞笑', '萌系', '愛情', '科幻', '魔法', '格斗', '武俠', '機戰', '戰爭', '競技', '體育', '校園', '生活', '勵志', '歷史', '偽娘', '宅男', '腐女', '耽美', '百合', '后宮', '治愈', '美食', '推理', '懸疑', '恐怖', '四格', '職場', '偵探', '社會', '音樂', '舞蹈', '雜志', '黑道']
export default {
  data () {
    return {
      checkAll: false,
      checkedCities: ['熱血', '冒險'],
      cities: cityOptions,
      isIndeterminate: true
    }
  },
  methods: {
    handleCheckAllChange (val) {
      this.checkedCities = val ? cityOptions : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      const checkedCount = value.length
      this.checkAll = checkedCount === this.cities.length
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length
    }
  }
}
</script>
<style>
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>
