<template>
  <div id="app">
    <el-container>
      <el-header>Header</el-header>
      <el-main>
        <Tag/>
        <list/>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import Tag from '@/views/Tag.vue'
import List from '@/views/List.vue'
export default {
  components: {
    Tag,
    List
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  height: 100%;
}

*{ padding: 0; margin: 0; }

html,body{ width: 100%; height: 100%; }

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.el-container{ position: absolute; width: 100%; top: 0px ; left: 0 ; bottom: 0; }

.el-header{ padding: 0; z-index: 1000; }

.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }

  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
  }

  .el-main {
    /* background-color: #E9EEF3; */
    color: #333;
    /* text-align: center; */
    /* line-height: 160px; */
  }

  body > .el-container {
    margin-bottom: 40px;
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
</style>
